.projectsContainerDiv {
    min-height: 100vh;
    height: 100vh;
    /* margin: 1em; */
}

.projectsTitle {
    position: absolute;
    top: 230vh;
    transform: rotate(-90deg);
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    margin: 10px;
    float: right;
}

.projectText {
    margin-top: -25px;
}

.project h3 {
    font-size: 1.5em;
    text-align: right;
    border-bottom: 2px solid black;
}

.project p {
    font-size: 1em;
    text-align: right;
}

.project button {
    float: right;
}

.project img {
    min-height: 200px;
    max-height: 200px;
    min-width: 300px;
    max-width: 300px;
    height: 200px;
    width: 300px;
    padding-left: 15px;
}

.colorPopRight {
    position: absolute;
    height: 50%;
    width: 60%;
    top: 300vh;
    left: 0;
    z-index: -1;
    transform: rotate(45deg);
    background-image: linear-gradient(to left, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

@media only screen and (max-width: 700px) {
    .projectsContainerDiv {
        min-height: 100vh;
        height: 100vh;
        margin: 0.5em;
        margin-top: 75%;
    }
    .projectsTitle {
        position: absolute;
        top: 225vh;
        transform: none;
    }

    .project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 10px;
    }

    .project img {
        order: 1;
        width: 100%;
        height: auto;
    }

    .project .projectText {
        order: 2;
    }

}